*/__pycache__/*
/output
data/sub_cluster/2015/korea_herald_c_0.txt
data/sub_cluster/2015/korea_herald_c_1.txt
data/sub_cluster/2015/korea_herald_c_10.txt
data/sub_cluster/2015/korea_herald_c_14.txt
data/sub_cluster/2015/korea_herald_c_17.txt
data/sub_cluster/2015/korea_herald_c_2.txt
data/sub_cluster/2015/korea_herald_c_28.txt
data/sub_cluster/2015/korea_herald_c_29.txt
data/sub_cluster/2015/korea_herald_c_3.txt
data/sub_cluster/2015/korea_herald_c_5.txt
data/sub_cluster/2015/korea_herald_c_7.txt
data/sub_cluster/2015/korea_herald_c_8.txt
data/sub_cluster/2015/korea_herald_c_9.txt
data/sub_cluster/2016.zip
data/sub_cluster/2016/korea_herald_c_0.txt
data/sub_cluster/2016/korea_herald_c_10.txt
data/sub_cluster/2016/korea_herald_c_14.txt
data/sub_cluster/2016/korea_herald_c_15.txt
data/sub_cluster/2016/korea_herald_c_16.txt
data/sub_cluster/2016/korea_herald_c_18.txt
data/sub_cluster/2016/korea_herald_c_19.txt
data/sub_cluster/2016/korea_herald_c_2.txt
data/sub_cluster/2016/korea_herald_c_21.txt
data/sub_cluster/2016/korea_herald_c_25.txt
data/sub_cluster/2016/korea_herald_c_26.txt
data/sub_cluster/2016/korea_herald_c_27.txt
data/sub_cluster/2016/korea_herald_c_28.txt
data/sub_cluster/2016/korea_herald_c_4.txt
data/sub_cluster/2016/korea_herald_c_5.txt
data/sub_cluster/2016/korea_herald_c_7.txt
data/sub_cluster/2016/korea_herald_c_8.txt
data/sub_cluster/2016/korea_herald_c_9.txt
data/sub_cluster/2017.zip
data/sub_cluster/2017/korea_herald_c_0.txt
data/sub_cluster/2017/korea_herald_c_1.txt
data/sub_cluster/2017/korea_herald_c_10.txt
data/sub_cluster/2017/korea_herald_c_13.txt
data/sub_cluster/2017/korea_herald_c_19.txt
data/sub_cluster/2017/korea_herald_c_2.txt
data/sub_cluster/2017/korea_herald_c_20.txt
data/sub_cluster/2017/korea_herald_c_21.txt
data/sub_cluster/2017/korea_herald_c_26.txt
data/sub_cluster/2017/korea_herald_c_27.txt
data/sub_cluster/2017/korea_herald_c_29.txt
data/sub_cluster/2017/korea_herald_c_3.txt
data/sub_cluster/2017/korea_herald_c_4.txt
data/sub_cluster/2017/korea_herald_c_6.txt
data/sub_cluster/2017/korea_herald_c_8.txt
